
    body {
        background-color: lightgray;
    }

    #title {
        background-image: url(https://i.ytimg.com/vi/KuDn-EWuZew/maxresdefault.jpg);
        color: white;
    }

   .card-header{
        background-color: lightblue;
    }

    button{
        background-color: lightblue;
    }